p,
ul,
ol,
table {
    text-transform: none;
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 0 30px;
}

p a,
li a {
    color: #428bca;
}

p a:hover,
li a:hover {
    color: #b6b6b6;
}

.post .post-preview p {
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* reduce the bottom gutter of section index */

section > div > p {
    margin-bottom: 0px;
}

h3 {
    font-size: 22px;
    font-size: 2.2rem;
    font-family: "Source Sans Pro", sans-serif;
    , serif;
    font-weight: 700;
}

.panel-heading h3 {
    font-size: 22px;
    font-size: 2.2rem;
    font-family: "Source Sans Pro", sans-serif;
    , serif;
    font-weight: 700;
}

.panel-body a,
.main-content a,
small a {
    color: #428bca;
}

.panel-body a:hover,
.main-content a:hover,
small a:hover {
    color: #b6b6b6;
}

.post img {
    width: 100px;
    height: 100px;
}
/* Backgrounds headers*/

.fons-pas-1 {
    background: url(../data/img/background-header-pas-1.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fons-pas-2 {
    background: url(../data/img/background-header-pas-2.jpg) center center no-repeat;
    /*center center no-repeat*/

    ;
    */ -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fons-pas-3 {
    background: url(../data/img/background-header-pas-3.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fons-pas-4 {
    background: url(../data/img/background-header-pas-4.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fons-pas-5 {
    background: url(../data/img/background-header-pas-5.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fons-pas-6 {
    background: url(../data/img/background-header-pas-6.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fons-pas-7 {
    background: url(../data/img/background-header-pas-7.png) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fons-pas-8 {
    background: url(../data/img/background-header-pas-8.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fons-pas-9 {
    background: url(../img/background-header-pas-9.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel {
    margin-bottom: 40px;
}

p small {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 70%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

tfoot {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 90%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.danger-me {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 220%;
    background-color: #D11313;
    color: #efefef;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 1.3em;
}

.writer-icon {
    position: fixed;
    z-index: 500;
}

#jPanelMenu-menu h3 {
    padding-left: 15px;
    color: white;
    font-weight: 300;
}
/* line 18, ../sass/partials/_menu.sass */

#jPanelMenu-menu li {
    margin: 0;
    padding: 7px 0 0 15px;
    list-style: none;
}

#jPanelMenu-menu li a {
    font-weight: 200;
    font-size: 1.5rem;
}

#jPanelMenu-menu li a:hover {
    border-bottom: none;
    color: yellow;
}

#jPanelMenu-menu li a.active {
    color: orange;
}

#jPanelMenu-menu li a.active:hover {
    color: orange;
}

dl {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-size: 1.6rem;
}
/* line 74, ../sass/_type.sass */

dl dt,
dl dd {
    margin: 5px 0;
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif, "Droid Serif", serif;
    font-size: 18px;
}

.well-sm a {
    color: #428bca;
}

.well-sm a:hover {
    color: #b6b6b6;
}

footer.single {
    padding: 0;
    text-align: center;
}

footer:hover {
    cursor: pointer;
}

.content-footer {
    padding-top: 166px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.content-footer p a {
    border-bottom: none;
}

.content-footer p a:hover {
    color: #efef33;
}

.column-content a {
    color: #428bca;
}

.column-content a:hover {
    color: #b6b6b6;
}

.subtitle {
    margin: 5px auto 20px auto;
    font-size: 20px;
    font-size: 2rem;
    font-style: italic;
}

@media (min-width: 768px) {
    .subtitle {
        font-size: 24px;
        font-size: 2.4rem;
    }
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 5%;
        left: 5%;
        bottom: -35px;
        z-index: 2000;
    }
}
/* override font-color .carousel-caption */

.white-background {
    color: #2f2f2f;
}

.breaking-bad {
    font-family: arial;
    background: linear-gradient(-45deg, rgba(92, 190, 115, 1) 1%, rgba(24, 43, 4, 1) 100%);
    color: white;
    /*walter */

    font-size: 18px;
    background-size: 400% 400%;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 92%
    }
    50% {
        background-position: 100% 9%
    }
    100% {
        background-position: 0% 92%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 92%
    }
    50% {
        background-position: 100% 9%
    }
    100% {
        background-position: 0% 92%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 92%
    }
    50% {
        background-position: 100% 9%
    }
    100% {
        background-position: 0% 92%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 92%
    }
    50% {
        background-position: 100% 9%
    }
    100% {
        background-position: 0% 92%
    }
}

.pullquote {
  margin: 0;
  font-size: 18px;
background: linear-gradient(270deg, #c2c2c2, #e7e7e7);
background-size: 400% 400%;

-webkit-animation: AnimationName 9s ease infinite;
-moz-animation: AnimationName 9s ease infinite;
animation: AnimationName 9s ease infinite;
}


@font-face {
    font-family: 'LeagueGothic';
    src: url(../fonts/leaguegothic-regular-webfont.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/leaguespartan-bold.eot');
    src: url('../fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguespartan-bold.woff2') format('woff2'),
         url('../fonts/leaguespartan-bold.woff') format('woff'),
         url('../fonts/leaguespartan-bold.ttf') format('truetype'),
         url('../fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DavysDingbats';
    src: url(../fonts/DavysDingbats.ttf);
    font-weight: 800;
    font-style: normal;
}


.post .post-preview h2 {
    font-family: 'League Spartan';
    font-size: 24px;
}

.single-content h1 {
    font-family: 'League Spartan';
    font-size: 44px;
}

.content-footer h1 {
    font-family: 'League Spartan';
    font-size: 36px;

}

.panel-primary {
    border-color: #f7b16a;
}

.panel-primary > .panel-heading {
    border-color: #f7b16a;
    background-color: #f7b16a;
}
